/* *{
    padding: 0;
    margin-top:  2%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

/* nav{
    display: flex;
    justify-content: space-between;
    font-size: large;

} */
 
/* 
nav ul{
    
    margin-left: 500px;
    display: flex;
    margin-bottom: -10%;

} */

nav ul li{
    display: inline-flex;
    list-style: none;
    padding: 20px 60px;
   
}

.nav{
    margin-right: 5%;
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    margin-top: -78px;
    padding-top: -5%;
    align-items: center;
}



#img{
    /* width: 900px; */
    height: 500px;
    float: right;
    padding-left: 20%;
    padding-top: -10%;
    /* margin-top: -1%; */
    padding-right: 10%;

}


.b1{
   padding: 2px 20px;
   background-color: black;
   color: white;
   padding-top: -50%;
   margin-top: -30%;
  
}


#fun{
    font-size: xx-large;


}

#rec{
    text-align: center;

}


#fun{
    font-size: large;

}

#Our{
    text-align: center;
    font-weight: bolder;
    
}


#img3{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 35%;
    margin-top: -2%;
    padding-top: -6%;

}
#img4{
    width: 400px;
    height: 300px;
    float: left;



}

h1{
    font-size: large;
    font-size: 80px;
    align-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: -2%;
}


#img2{
    width: 400px;
    height: 350px;
   margin-top: -15%;
   padding-left: -10%;

}
img4{
margin-top: -20%;
}

#p1{
    margin-bottom: 10%;
}

#logo{
    font-size: large;
}

.adds{
    display: flex;
    padding-bottom: 20%;
    margin-bottom: 20%;
    align-items: center;
    margin: right;
    justify-content: space-between;
}

.foot{
    align-items: center;
    display: flex;
    margin: right;
    justify-content: space-between;
}
.snaps{
    display: flex;
    /* width:10%;
    height: 10%;
    align-items: center;
    justify-content: space-between; */

}
#shoot{
    height: 500px;
    width: 600px;
    float: right;
    padding-left: 100%;
    padding-top: -25%;
    margin-top: -1%;
    padding-right: 30%;

}
.rec{
    margin-top: -40%;
    padding-top: -50%;
    
}
#snaps1{
    width: 20%;
    height: 10%;
    margin-left: 2%;
}
#snaps2{
    width: 30%;
    height: 10%;
    margin-left: 2%;
}
#snaps3{
    width: 20%;
    height: 10%;
    margin-left: 2%;
}
#snap4{
    width: 20%;
    height: 10%;
    margin-left: 2%;
}
#snap5{
    width: 30%;
    height: 10%;
    margin-left: 2%;
}
#snap6{
    width: 20%;
    height: 10%;
    margin-left: 2%;
}
.best{
    display: flex;
}
#butt{
    margin-left: 50%;
    margin-top: 5%;
    background-color: black;
    color: antiquewhite;
}
/* .f1{
    margin-left: 5%;
}
.f2{
    margin-left: 5%;
}
.f3{
    margin-left: 5%;
} */
.foots{
    display: flex;
    justify-content: space-between;

}
/* .foot{
    margin-left: 20%;
} */
.place1{
    margin-right: 40%;
    font-size: 40px;
    margin-top: -15%;
}
.place2{
    margin-right: 40%;
    font-size: 40px;
}
#image footer{
    width: 50%;
    padding-left: 20%;
    padding-top: -3%;
    margin-top: -3%;
}
#foot{
    margin-left: 10%;
}


